name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore Dependencies
      run: dotnet restore UniqueIdentifier.sln

    - name: Build
      run: dotnet build -c Release UniqueIdentifier.sln -p:PackageVersion=${{ secrets.RELEASE_VERSION }}
    
    - name: Run Tests
      run: dotnet test -c Release --no-build UniqueIdentifier.Tests/UniqueIdentifier.Tests.csproj

    - name: Run Benchmarks
      run: dotnet run -c Release --project UniqueIdentifier.Benchmarks/UniqueIdentifier.Benchmarks.csproj

    - name: Publish
      run: dotnet publish -c Release UniqueIdentifier/UniqueIdentifier.csproj

    - name: Create the package
      run: dotnet pack -c Release UniqueIdentifier/UniqueIdentifier.csproj -p:PackageVersion=${{ secrets.RELEASE_VERSION }}

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: UniqueIdentifier
        path: UniqueIdentifier/bin/Release
        if-no-files-found: error

    - name: NuGet push
      run: dotnet nuget push "UniqueIdentifier/bin/Release/*.nupkg" -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate